body	{background-image:none;}

div.admincontainer		{margin:60px 10px 60px 10px;}
div.admincontainer h1	{position:relative; background:none; color:#000000; text-indent: 0px; clear:both; float:none;}


