/**
 * 
 *	@depends /tools/jquery-ui/jquery-ui-1.8.16.custom.css
 *  @depends /tools/colorbox/colorbox.css
 *  @depends /tools/multiselect/ui.multiselect.css
 *  @depends /tools/timepicker/jquery-ui-timepicker-addon.css
 *  
 */


* {
	outline: 0;
	-moz-outline: none;
}

body,ul,ol,li,h1,h2,h3,h4,h5,h6,form,dl,dt,dd,p,div,address,blockquote,pre,fieldset {
	margin: 0;
	padding: 0;
	font-size: 11px; 
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif !important;
}

.clear {
	clear: both;
}
h1 {
    background: url("../../images/admin.default.mura_logo.png") no-repeat scroll 0 0 transparent;
    color: #FEE100;
    float: left;
    height: 53px;
    margin: 0 0 0 6px;
    text-indent: -999em;
    width: 58px;
}
h3 {
    color: #333333;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 0.5em;
    padding: 0;
}
h4 {
    clear: both;
    font-size: 15px;
    font-weight: normal;
    margin: 0 0 0.75em;
    padding: 0;
}
table {
    border: 1px solid #DBDBDB;
    border-collapse: collapse;
    clear: both;
    margin: 0 0 16px;
    width: 100%;
}
table td {
	vertical-align: text-top;
}
a, .tabs dt a {
    color: #FF3A00;
    text-decoration: none;
}
a:hover {
	text-decoration:underline;
}
form {
    margin: 0 0 20px;
    padding: 0;
}
a.button, input.button, button, .ui-widget-content a.button {
    background-color: #78A8D4;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    margin:0 0 0 3px;
    padding: 3px 6px;
    vertical-align: middle;
    width: auto;
	font-size: 11px;
    height: 23px;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}
a.button, .ui-widget-content a.button {
	height:17px;
	line-height:17px;
	display:inline-block;
}
input.button:hover, button:hover {
	text-decoration:underline;
}
a.buttonOff {
	background-color: #cccccc;
    border: none;
	border-radius: 3px;
	color: #FFFFFF;
	cursor: pointer;
    margin:0 0 0 3px;
    padding: 3px 6px;
	vertical-align: middle;
	width: auto;
	font-size: 11px;
    height: 23px;
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
}
a.buttonOff, .ui-widget-content a.buttonOff {
	height:17px;
	line-height:17px;
	display:inline-block;
}

a.buttonOff:hover {
	text-decoration: none;
}

.buttons a.adminorderdetailorderfulfillment {
	float:right;
}

label {
	font-weight:bold;
}
input, select {
	font-size:11px;
}

div#header {
	background: url(../../images/admin.ui.bg_header.png) repeat-x scroll 0 0 transparent;
    color: #666666;
    height: 100px;
    min-width: 984px;
    position: relative;
}
#header #currentSite {
	left: 20px;
    font-size: 1.5em;
    left: 170px;
    position: absolute;
    top: 72px;
}
#header #currentSite a {
    font-weight: bold;
    text-decoration: none;
}
img.slatwallLogo {
    float: left;
    margin: 8px 0 0 5px;
}
ul.one {width:14px !important;}
ul.two, ul.campaigns, ul.adZones, ul.emails, ul.users, ul.currentSites, ul.versionHistory, ul.group {
    width: 38px !important;
}
ul.three, ul.rss, ul.mailingLists {
    width: 57px !important;
}
ul.four, ul.component {
    width: 72px !important;
}
div#admincontainer {
	margin: 5px 20px 60px;
}

.multiselect {
	width: 600px;
	height: 300px;
}

.ui-widget-content a  {
	color: #FF3A00;
	text-decoration: none;
}

div.svoadminproductdetail form {
	width: 100%;
	margin: 0;
	padding: 0;
}

div.svoadminorderdetail .shippingAddress,
div.svoadminorderdetail .shippingMethod,
div.svoadminorderfulfillmentdetail .shippingAddress,
div.svoadminorderfulfillmentdetail .shippingMethod {
	float: left;
	margin: 0 20px;
}

div.svoadminorderdetail .totals,
div.svoadminorderfulfillmentdetail .totals {
	float: right;
	margin: 0 0 0 20px;
}

div.buttons {
	height: 15px;
	margin: 10px 0;	
}

div#createProductForm {
	width: 930px;
}

div.optionsSelector {
	margin-bottom: 10px;
}

div#advancedSearchOptions {
	margin: 20px 0px;
}

div#statusSelections {
	margin: 5px 0;
}

.admincontainer fieldset {
	background-color: #fff;
}

.admincontainer legend {
	font-size: 1.2em;
	font-weight: bold;
	color: #FF3A00;
}

input.adminorderapplyOrderActions {
	float: right;
	margin-bottom: 10px;
}

div.modalContainer {
	height: 200px;
	width: 300px;
	text-align: center;
	padding: 50px;
	font-size: 1.1em;
}

table#productTypes {
	width: 850px;
}

table#productTypes ul, 
table#productPages ul,
table#productCategories ul {
	background-image: none;
}

table#productTypes ul.neston, 
table#productPages ul.neston,
table#productCategories ul.neston {
	font-weight: bold;
}

table#productTypeSettings {
	width: 600px;
}

table#alternateImages td img {
	vertical-align: top;
}

table td li.zoomIn {
	background: url(../../images/admin.ui.zoom_in.png) no-repeat;
	width: 16px;
}

table td li.zoomOut {
	background: url(../../images/admin.ui.zoom_out.png) no-repeat;
	width: 16px;
	display: none;
}

td ul.inlineAdmin, td.varWidth ul.inlineAdmin {
	float: right;
	margin: 0 auto;
}

td ul.inlineAdmin li, td.varWidth ul.inlineAdmin li {
	list-style: none outside none;
	overflow: hidden;
	float: left;
	margin: 0 5px 0 0;
    padding: 0;
}

td ul.inlineAdmin li a, td.varWidth ul.inlineAdmin li a {
    clear: none;
	float: left;
    height: 18px;
    text-indent: -999em;
    width: 14px;
}
  
td.property, .listing-grid td.title, .listing-grid td.property {
	text-align: left;
	font-weight: bold;
}

/*******   Forms   ********/

label.required,
form div.required {
	font-weight: bold;
	color: #000000;
	padding-right: 1em;
	background: url("../../images/admin.ui.required.gif") no-repeat scroll right center transparent;
}



div.dashboardSection {
	width:500px;
	float:left;
	margin:20px;
}

div.basicOrderInfo {
	width: 400px;
	float: left;
	margin: 0;
}

div.paymentInfo {
	width: 700px;
	float: left;
	margin: 0 0 0 10px;
}

div.paymentDetails {
	padding: 5px;
	text-align: right;	
}

div.promotionRewardForm {
	border-top: 1px black solid;
}

/*
table#Options, table#OptionGroups, table#ProductSettings, table#ProductBrands, table#AttributeSets {
	width: 800px;
}

table#ProductList {
	width: 900px;
}
*/
table.attributeOptions {
	width: 200px;
}

table .alignLeft {
	text-align: left;
}

form.modal {
	width: auto;
}

form#alternateImage {
	width: 600px;
}

dl.optionDetail {
	margin-bottom: 20px;
}

dl.productPrice dt {
	width: 120px;
}

dl.productPrice dd {
	margin-left: 130px;
}

ul.orderList {
	margin: 20px 0 0 10px;
}

dl.fulfillmentTotals dt {
	float: left;
	width: 160px;
	text-align: right;
	padding: 2px;
	margin: 0 0 0 0;
	line-height: 22px;
	clear: left;
}

dl.fulfillmentTotals dd {
	margin: 0 0 0 170px;
	text-align: right;
	padding: 2px;
	line-height: 22px;
}

dl.orderTotals {
	width: 200px;
}

dl.orderTotals dt {
	float: left;
	width: 130px;
	text-align: left;
	padding: 2px;
	margin: 0 0 0 0;
	line-height: 15px;
	clear: left;
}

dl.orderTotals dd {
	margin: 0 0 0 120px;
	text-align: right;
	padding: 2px;
	line-height: 15px;
}

dl.alternateImageUpload {
	padding-top: 10px;
	border-top: 1px solid #ccc;
}

ul#optionList li {
	margin-bottom: 5px;
}

ul.radiogroup li {
	display:inline;
}

#shadowbox_container {
	z-index: 499997;
}

#shadowbox_overlay {
	z-index: 499996;
}

/********************** messagebox Styles *******************/

p.messagebox {
	border: 1px solid #2580B2;
	margin: 0.3em;
	font-size: 1.2em;
	padding: 0.5em 1em 0.5em 3.5em;
}

p.info_message {
	background: #D1E6EF url(../../images/admin.ui.msg_redcheck.gif) no-repeat scroll .5em 50%;
}

p.warning_message {
	background: #FFF2CF url(../../images/admin.ui.msg_warning.gif) no-repeat scroll .5em 50%;
}

p.error_message {
	background: #FFFFE0 url(../../images/admin.ui.msg_error.gif) no-repeat scroll .5em 50%;
}

/**************************************************************/

ul.errors {
	margin: 1em 0 0 1em;
	list-style-position: inside;
	color: #ff0000;
}

ul.errors p {
	display:inline;
}

#header #currentSite {
	left: 20px;	
}

.hideElement {
	display:none;
}

div.svoadminproductdetail img.skuImage {float:right;}

.smartListPager {
	float: right;
	margin:0 0 5px 0;
}

.smartListPager ul.pages {
	margin: 1em 0 !important;
	padding: 0;
	list-style: none;
}

.smartListPager li {
	display: inline;
	margin: 0 !important;
	padding: 0;
	text-align: center;
}

.smartListPager li.current {
	font-weight: bold;
}

.smartListPager a {
	color: #6699CC;
	text-decoration: none;
}

.smartListPager a,
.smartListPager li span {
	border: 1px solid #E4E4E4;
	padding: 0.2em 0.3em;
}

table td.varWidth div {float:left; margin-right:20px;}
table td.varWidth ul {list-style:none;}
table td.varWidth ul.nest1on {margin-left:16px;}
table td.varWidth ul.nest2on {margin-left:32px;}
table td.varWidth ul.nest3on {margin-left:48px;}
table td.varWidth ul.nest4on {margin-left:64px;}
table td.varWidth ul.nest5on {margin-left:80px;}
table td.varWidth li {padding-left:10px;}


.listing-grid, .listtable {
	margin: 0 0 16px 0;
	border-collapse: collapse;
	border: 1px solid #DBDBDB;
	clear: both;
	width: 100%;
}

.listing-grid th, .listtable th {
	margin: 0 !important;
	background: #FFFEFE url(../../images/admin.ui.listing-grid_th_bg.jpg) repeat-x left bottom;
	font-style: normal;
	color: #000;
	padding: 4px 5px;
	border: 1px solid #DBDBDB;
	white-space: nowrap;
	text-align: center;
}

.listing-grid th.alt, .listtable th.alt {
	text-align: left;
	background-image: none;
	background-color: #EAF4FE;
	font-weight: normal;
	border: 0;
}


.listing-grid th span, .listtable th span {
	font-weight: normal;
}

.listing-grid table th a, .listtable table th a {
	color: #000;
}

.listing-grid td, .listtable td {
	vertical-align: middle;
	color: #333232;
	padding: 4px 5px 4px 5px;
	border-left: 1px solid #DBDBDB;
	border-right: 1px solid #DBDBDB;
	white-space: nowrap;
	background-color: #EAF4FE;
	text-align: center;
	width: 1%;
}


.listing-grid .alt td, .listtable .alt td {
	/*border: 1px solid #DBDBDB;*/
	background-color: #fcfeff;
}

.listing-grid td.email, .listtable td.email {
	text-transform: lowercase;
}

.listing-grid tr.alt th, .alt dl, .listtable  tr.alt th {
	background-color: #FCFEFF;
}

.listing-grid .varWidth, .listtable .varWidth {
	width: 95%;
	text-align: left;
	white-space: normal;
}

.listing-grid th a, .listing-grid td a, .listtable th a, .listtable td a {
	color: #000;
	text-decoration: none;
}

.listing-grid td a:hover, .listtable td a:hover {
	color: #000;
	text-decoration: underline;
}

.listing-grid td.add, .listtable td.add {
	padding: 5px 4px 0;
}

.listing-grid td.add a, .listing-grid a.add, .listtable td.add a, .listtable a.add {
	display: block;
	background: url(../../images/icons/add_32.png) no-repeat center center;
	width: 12px;
	height: 12px;
	padding: 0;
}
td.administration ul {
	margin: 0 auto;
	float: left;
}

td.administration li {
	list-style: none; 
	float: left !important;
	width: 14px;
	margin: 0 5px 0 0;
	padding: 0;
	clear: none;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	border: 0;
}

td.administration li a {
	height: 18px;
	width: 14px;
	float: left;
	clear: none;
	text-indent: -999em;

}

td.administration li.add {
	background: url(../../images/actionIcons14/add.png) no-repeat;
}
td.administration li.addOff {
	background: url(../../images/actionIcons14/addOff.png) no-repeat;
}
td.administration li.config {
	background: url(../../images/actionIcons14/config.png) no-repeat;
}
td.administration li.delete {
	background: url(../../images/actionIcons14/delete.png) no-repeat;
	margin-right: 0;
}
td.administration li.deleteOff {
	background: url(../../images/actionIcons14/deleteOff.png) no-repeat;
	margin-right: 0;
}
td.administration li.detail {
	background: url(../../images/actionIcons14/detail.png) no-repeat;
}
td.administration li.download {
	background: url(../../images/actionIcons14/download.png) no-repeat;
}
td.administration li.edit {
	background: url(../../images/actionIcons14/edit.png) no-repeat;
}
td.administration li.editOff {
	background: url(../../images/actionIcons14/editOff.png) no-repeat;
}
td.administration li.move {
	background: url(../../images/actionIcons14/move.png) no-repeat;
}
td.administration li.moveOff {
	background: url(../../images/actionIcons14/moveOff.png) no-repeat;
}
td.administration li.preview {
	background: url(../../images/actionIcons14/preview.png) no-repeat;
}
td.administration li.permission {
	background: url(../../images/actionIcons14/permission.png) no-repeat;
}
td.administration li.permissionOff {
	background: url(../../images/actionIcons14/permissionOff.png) no-repeat;
}
td.administration li.report {
	background: url(../../images/actionIcons14/report.png) no-repeat;
}
td.administration li.rss {
	background: url(../../images/actionIcons14/rss.png) no-repeat;
}
td.administration li.source {
	background: url(../../images/actionIcons14/source.png) no-repeat;
}
td.administration li.sourceOff {
	background: url(../../images/actionIcons14/source.png) no-repeat;
}
td.administration li.history {
	background: url(../../images/actionIcons14/history.png) no-repeat;
}
td.administration li.historyOff {
	background: url(../../images/actionIcons14/historyOff.png) no-repeat;
}


#navTask {
	font-size: 12px;
	list-style-type: none;
	margin: 10px 0 16px;
	padding: 6px 4px;
	vertical-align: middle;
	position: relative;
	/*border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #f9f9f9;*/
	background: url(../../images/admin.ui.dots_bg.gif);
}

#navTask li {
	list-style-type: none;
	display: inline;
	margin: 0 10px 0 2px;
	padding: 0 0 0 7px;
	background: transparent url(../../images/admin.ui.nav_arrow_orange.gif) no-repeat 0% 50%;
}

#navTask li a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #69c;
	font-size:12px;
}

.twoColumn dt {
	float: left;
	width: 200px;
	text-align: left;
	padding: 2px;
	margin: 0 0 0 0;
	line-height: 22px;
	clear: left;
}
.twoColumn dt label {
	font-weight:bold;
}
.twoColumn dd input, .twoColumn dd select {
	font-size:11px;
	margin:0;
}
.twoColumn dd span.field {
	margin:0 10px 0 5px;
}
.twoColumn dd {
	margin: 0 0 0 210px;
	padding: 2px;
	line-height: 22px;
}
.twoColumn dd .cke_skin_kama {
	margin-left: 200px;
}

.tabs .oneColumn {
	background: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.oneColumn dt {
	margin: 8px 0 4px 0;
	padding: 8px 0 0 0;
	background: url(../../images/admin.ui.rule_dotted.gif) repeat-x left top;
}

.oneColumn .first   {
	margin-top: 4px;
	padding-top: 0;
	background: none;
}

.oneColumn .firstAlt {
	margin: 0 0 2px 0;
	padding: 8px 0 0 0;
	background: url(../../images/admin.ui.rule_dotted.gif) repeat-x left top;
}

.oneColumn dd dt {
	background-image: none;
	margin: 0 0 2px 0;
	padding: 0;
	font-weight: normal;
}

.oneColumnAlt {
	margin: 0 0 0 0;
	padding: 16px 0 0 0;
	background: url(../../images/admin.ui.rule_dotted_big.gif) repeat-x left top;
	border: 1px solid #fff;
}

.oneColumnAlt dt {
	margin: 8px 0 2px 0;
	padding: 8px 0 0 0;
	background: url(../../images/admin.ui.rule_dotted.gif) repeat-x left top;
}

.oneColumnAlt .first {
	margin-top: 16px;
	padding-top: 0;
	background: none;
}
label.required, form div.required {
    background: url("../../images/admin.ui.required.gif") no-repeat scroll right center transparent;
    color: #000000;
    font-weight: bold;
	padding-right:8px;
}
table .alignLeft {
    text-align: left;
}

.error {
	border: 2px solid #8a1f11;
}
	
label.error {
	color: #8a1f11;
	border:none;
}

a.tooltip {
	position: relative;
	z-index: 0;
	text-decoration: none;
	cursor: help;
	padding-right: 8px;
	background: url(../../images/admin.ui.tooltip.gif) no-repeat right top;
	display: block;
	line-height: 1.2;
}

dt a.tooltip, th.varWidth a.tooltip, td.varWidth a.tooltip {
	display: inline-block;
	color: #000;
	padding-right: 10px;
}

a.tooltip:hover {
	z-index: 1;
	text-decoration: none;
}

a.tooltip span {
	display: none;
	font-weight: normal;
	text-decoration:none;
}

a.tooltip:hover span {
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 6px;
	border: 1px solid #bbb;
	background: #F7FBFE;
	color: #000;
	width: 250px;
	white-space: normal;
	text-align: left;
	text-decoration: none;
	line-height: 1;
}

.ui-widget-content {
    background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
    border: 0 solid #DBDBDB;
    color: #000000;
}
.ui-tabs {
    padding: 0;
    position: relative;
}
.ui-tabs .ui-tabs-nav {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0;
    -moz-border-radius: 0;
	border-width:0 0 1px 0;
	border-color:#dbdbdb;
    margin: 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
	background: url(../../images/admin.ui-bg_highlight-hard_90_f5f5f5_1x100.png) repeat-x scroll 50% 50% #F5F5F5;
	color: #636261;
	border-color:#dbdbdb;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover {
	background: url(../../images/admin.ui-bg_highlight-hard_90_dadada_1x100.png) repeat-x scroll 50% 50% #DADADA;
	border-color:#dbdbdb;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border-color:#dbdbdb;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 1px;
	background:white;
}
.ui-tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color: #000000;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 1em 0 0;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.ui-tabs .ui-tabs .ui-tabs-nav {
    border-bottom: 1px dotted #CCCCCC;
    padding-bottom: 0.5em;
}
.ui-tabs .ui-tabs .ui-tabs-nav li {
    background: none repeat scroll 0 0 #E8E8E8;
    border: 0 none !important;
    margin: 0 0.25em;
    padding: 0;
}
.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.35em 1em;
    text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 transparent;
    border-width: 0;
    display: block;
    padding: 1em 0 0;
}
.ui-tabs .ui-tabs-hide {
    display: none !important;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
;
}
.ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}
table.listing-grid a.button {color:#fff;}
#actionButtons {
    background: url(../../images/admin.ui.rule_dotted_big.gif) repeat-x scroll 0 0 transparent;
    clear: both;
    margin: 10px 0 0 0;
    padding: 26px 0 0;
}
#statusSelections label {
	font-weight:normal;
}
.addressDisplay {
	margin:0 0 10px 0;
}
dt.title, dd.value {
	margin:0 0 10px 0;
}
div.optionsSelector ul {
	list-style:none;
}

.dialog p, .dialog select {margin-top:5px; margin-bottom:5px;}
.dialog form {width:280px;}
.clickable:hover{cursor:pointer;}

.ui-dialog {
    border: 6px solid #666666;
    border-radius: 4px;
    overflow: hidden;
    padding: 0.2em;
    position: absolute;
}
.ui-dialog .ui-dialog-titlebar {
	background:none;
	border:none;
}
.ui-dialog .ui-dialog-title {
    float: left;
    font-size: 20px;
    margin: 0.1em 16px 0.1em 0;
}
.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
    margin: -10px 0 0;
    padding: 1px;
    position: absolute;
    right: 0.3em;
    top: 50%;
    width: 19px;
}
.ui-dialog .ui-dialog-titlebar-close span {
    background: url("../../images/admin.ui.remov_16.png") no-repeat scroll 50% 50% transparent;
    height: 16px;
    width: 16px;
}
.ui-dialog .ui-dialog-buttonpane button {
    cursor: pointer;
    float: right;
    line-height: 1.4em;
    margin: 0.5em 0.4em 0.5em 0;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
	background: url("../../images/admin.ui-bg_highlight-hard_90_f5f5f5_1x100.png") repeat-x scroll 50% 50% #F5F5F5;
    border: 1px solid #DBDBDB;
    color: #636261;
	height:auto;
    font-weight: normal;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
	background: url("../../images/admin.ui-bg_highlight-hard_90_dadada_1x100.png") repeat-x scroll 50% 50% #F5F5F5;
}
.ui-dialog-content p {
    color: #666666;
    font-size: 13px;
}
.ui-dialog .ui-icon-alert {
    display: none;
}
